<style> 
    body
    {
        margin: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
</style>

<h1>Why Windows OS? (Client)</h1>

<ul>
    <li>Not bound to hardware manufacturer/model</li>
    <li>Can be installed on Mac computers too with superb support</li>
    <li>Supports standard APIs as well as implements Proprietary</li>
    <li>Consumer license cost is low</li>
    <li>Particularly good backwards compatibility</li>
    <li>Support Linux(Ubuntu) profile as sub system</li>
    <li>Windows Store supports more countries than any other store</li>
    <li>Better accessibility options, including system wide font DPI and size change</li>
    <li>Can be liscensed and in many different forms which accomodates particular needs</li>
</ul>
