<style> 
    body
    {
        margin: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
</style>

<title>Using Blender3D as level editor with Unity3D, ThreeJS (or other)</title>

<link rel="stylesheet" href="main.css">

<h1>/ Using Blender3D as level editor with Unity3D, ThreeJS (or other)</h1>

<p>
    First of, Blender3D can be use for tilemap or any sort of grid aligned level editing with "snap to grid" enabled.
</p>

<img src="res/screen_1478934868.JPG" alt="">

<p>
    In Blender3D one can set rules for naming objects and say assume in this case that objects which start with name <em>Ground</em> (Ground.001, Ground.002, ...) represent ground tile objects. And objects which start with <em>Gun</em> (Gun.001, Gun.002,...) represent guns, one can introduce different types of guns like <em>Gun.Type2</em> (Gun.Type2.001, Gun.Type2.002, ...)
</p>

<p>
    Then, one can use objects propterties like <em>position</em>, <em>rotation</em> and <em>scale</em> to translate those values into particular coordinates in live scene. And assigning to those objects different kind of meshes for rendering.  
</p>

<p>
    This way Blender3D can be used for creating level data which after import can be skinned and reskinned (without touching level data, when level data (say gund position) is independent of skin) with defferent kinds of meshes.
</p>

<p>
    Little example of such scene tree in Blender3D is represented on image below.
</p>

<img src="res/screen_1478934886.JPG" alt="">

<p>
    Tip: Blender3D automatically increases number in the name of object when duplicating object. Object can be duplicated with <em>Shift+D</em> shortcut.
</p>